html,
body {
  font-family: "Helvetica", sans-serif;
  background-color: black;
  color: white;
}

.error {
  color: rgb(246, 49, 49);
  font-size: 30vmax;
  position: fixed;
  top: 0px;
}

p {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0%);
}
