html,
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Helvetica", sans-serif;
  color: white;
  overflow-x: hidden;
  background-color: black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.title {
  font-size: 10vw;
  color: white;
}

.content {
  position: absolute;
  left: 0;
  top: 80vh;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 255)
  );
  height: 200vh;
}

canvas {
  width: 100%;
}
