html,
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Helvetica", sans-serif;
  color: white;
  overflow-x: hidden;
  background-color: black;
  scroll-behavior: smooth;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.title {
  font-size: 10vw;
  color: white;
}

.transition {
  position: absolute;
  left: 0;
  top: 80vh;
  background-image: linear-gradient(transparent, #080808);
  height: 20vh;
  width: 100vw;
  z-index: 50;
  display: flex;
  justify-content: center;
}

@keyframes bounce {
  0% {
    top: 0;
  }

  10% {
    top: 1vh;
  }

  20%,
  100% {
    top: 0;
  }
}

.down-arrow {
  position: relative;
  background-color: rgba(13, 13, 13, 0.4);
  backdrop-filter: blur(5px);
  border-radius: 100px;
  font-size: 8vmax;
  width: 5vmax;
  height: 5vmax;
  text-align: center;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  border: solid #666666 1px;
  font-family: "Trebuchet MS", sans-serif;

  transition: 0.15s;
  animation: 3s infinite ease-in-out bounce;
}

.down-arrow:hover {
  background-color: rgba(0, 0, 0, 0.75);
}

.down-arrow-text {
  position: relative;
  top: -0.5vh;
}

.right {
  text-align: right;
  margin-right: 1vw;
}

.who {
  margin-left: 10vw;
  width: 50vw;
  height: 30vh;
}

.content {
  position: absolute;
  left: 0;
  top: 100vh;
  background-color: #080808;
  /* height: 180vh; */
  width: 100vw;
  z-index: 50;
  padding: 10px;
}

p,
h1,
h2,
h3 {
  word-wrap: break-word;
}

canvas {
  width: 100vw;
  height: 100vh;
  z-index: 0;
}
