html,
body {
  font-family: "Helvetica", sans-serif;
  color: white;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: transparent;
  font-size: calc(16px + 2 * ((100vw - 320px) / 680));
}

h1,
h2 {
  filter: drop-shadow(0 0 10px #fff);
}

.hero-box,
.banner-box {
  width: min(100%, 1140px);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  align-items: center;
}

.section-items {
  display: flex;
  background-color: rgba(0, 0, 0, 0.473);
  backdrop-filter: blur(.25em);
  width: 100%;
  height: 30vh;
}

h1 {
  font-family: "Lexend Deca", "Helvetica", sans-serif;
  font-weight: 900;
  font-size: 3.2em;
}

:is(.hero-box, .banner-box) h1 {
  color: #eee;
  flex: 1 1 400px;
}

header {
  min-height: 100vh;
  padding: 3em 1em;
  position: relative;
}

header,
.section-banner {
  background: transparent;
  display: flex;
  place-items: center;
  user-select: none;
}

#hero-canvas {
  background: url("../media/mountain.jpg"),
    linear-gradient(225deg, #64016b80, #00000080);
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

:is(.hero-box, .banner-box) h1 {
  color: #eee;
  flex: 1 1 400px;
}
